@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff2") format("woff2");
  src: url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff2") format("woff2");
  src: url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: 'Cuprum';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/cuprumbold.woff2') format("woff2");
  src: url('../fonts/cuprumbold.woff') format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2");
  src: url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2");
  src: url("../fonts/ptsans.woff") format("woff");
}

/* Variables */

:root {
  box-sizing: border-box;
  --basic-grey: #3d546f;
  --basic-background: #f1f5f7;
  --special-yellowlight: #ffd180;

  --success: #5fbb2d;
  --error: #ba2732;

  --warinig: #ffbf47;
  --black: #000000;
  --white: #ffffff;
  --basic-dark-red-2: #ba2732;
  --basic-dark-red: #ca2c37;
  --basic-greylight2: #a9a9a9;
  --basic-greylight3: #e5e5e5;
  --basic-greylight4: #c5c5c5;
  --basic-greylight: #c5c5c5;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-darkgreen: #518534;

  --basic-darkgreen-2: #367315;
  --dark-blue: #32425c;
  --dark-dark-blue: #293449;
  --dark-dark-blue2: #212a3a;
  --dark-dark-blue3: #161d29;

  --yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-greenlight: #8ed78f;
  --special-lilac: #dc91d8;
  --special-yellow: #ffbf47;
  --special-beige: #f9f5f0;

  --special-beige2: #f7f3ec;

}


/* Global */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
  grid-template-rows: min-content 1fr min-content;
}

.hidden {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
}

.main-logo {
  position: relative;
  display: grid;
  height: 100%;
  padding: 10px 30px;
  background: var(--basic-red);
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  place-content: center;
}

.main-logo:active {
  background-color: var(--error);
}

.main-logo::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #b52933;
  content: "";
}

.main-logo img {
  display: block;
}

.button {
  display: block;
  padding: 12px 0 12px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--basic-red);
  border: none;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
  background-color: var(--basic-dark-red);
}

.button:active {
  background-color: var(--basic-dark-red-2);
}

.button-secondary {
  padding: 10px 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--white);
  border: none;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--basic-greylight3);
}

.button-secondary:active {
  background-color: var(--basic-greylight);
}


.main-header {
  padding-bottom: 59px;
  margin-bottom: 60px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;

  font-weight: 400;
  line-height: 24px;
  background-color: var(--basic-background);
}

.catalog-body .main-header {
  margin-bottom: 21px;
}

.main-header-wrapper {
  color: var(--white);
  background-color: var(--dark-dark-blue);
}

.main-header-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(158px, auto) auto;
  align-items: center;
  column-gap: 20px;
}

.main-header-statusline {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr max-content max-content max-content;
  grid-template-rows: minmax(42px, auto);
}

.main-header-logo {
  width: 220px;
}

.main-header-search {
  position: relative;
  display: flex;
  padding-top: 3px;
  align-self: stretch;
}

.main-header-search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  transition: fill 0.3s ease;
}

.main-header-search-icon {
  fill: rgba(255, 255, 255, 0.3);
}

input:hover + .main-header-search-icon {
  fill: rgba(255, 255, 255, 1);
}

input:focus + .main-header-search-icon {
  fill: red;
}

.main-header-search input {
  padding-left: 42px;
  color: var(--white);
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
  flex-grow: 1;
}

.main-header-search input::placeholder {
  color: var(--white)
}

.main-header-search input:focus {
  color: var(--black);
  background-color: var(--white);
  outline: none;
}

.main-header-info {
  display: flex;
  transition: background-color 0.3s ease;
  align-self: stretch;
  align-items: center;
}

.main-header-info::before {
  width: 13px;
  height: 16px;
  margin-top: -2px;
  margin-right: 9px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.main-header-info:hover::before,
.main-header-info:focus::before {
  opacity: 1;
}

.main-header-info:active {
  background-color: var(--dark-dark-blue3);
}

.main-header-info span {
  margin-left: 5px;
}

.main-header-info-bookmarks {
  padding: 1px 27px 0 20px;
}

.main-header-info-basket {
  padding: 3px 25px 0;
}

.main-header-info-basket-full {
  padding-left: 21px;
  background-color: var(--basic-red);
}

.main-header-info-basket-full:active {
  background-color: var(--error);
}

.main-header-info-bookmarks::before {
  background-image: url("../img/icons/icon-bookmark.svg");
}

.main-header-info-basket::before {
  background-image: url("../img/icons/icon-cart.svg");
}

.main-header-checkout {
  display: flex;
  padding: 0 18px;
  background-color: var(--basic-green);
  transition: background-color 0.3s ease;
  align-self: stretch;
  align-items: center;
}

.main-header-checkout:hover,
.main-header-checkout:focus {
  background-color: var(--success);
}

.main-header-checkout:active {
  background-color: var(--basic-green);
}


.main-header-tagline {
  padding-left: 30px;
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  color: var(--basic-red);
  grid-column: 1 / 5;
}

.main-header-contacts {
  display: flex;
  padding-top: 5px;
  text-align: center;
  grid-column: 5 / 9;
  justify-self: left;
  flex-direction: column;
}

.main-header-user-menu {
  margin-top: 46px;
  grid-column: 9 / -1;
  justify-self: end;
  align-self: flex-start;
}

.main-header-phone {
  display: flex;
  padding: 5px 50px 5px 37px;
  margin-bottom: 3px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-style: normal;

  font-weight: 700;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--white);
  align-items: center;
}

.main-header-phone::before {
  width: 19px;
  height: 19px;
  margin-right: 16px;
  background-image: url("../img/icons/icon-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.main-header-address {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-blue);
}

.user-auth {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0 0 7px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: var(--black);
  list-style: none;
  justify-content: flex-end;
}

.user-actions.hidden {
  display: none;
}

.user-auth-item + .user-auth-item {
  margin-left: 10px;
}

.user-auth-link {
  display: block;
  padding: 12px 24px;
  background-color: var(--white);
  transition: color 0.3s ease;
}

.user-auth-link:hover,
.user-auth-link:focus {
  color: var(--basic-red);
}

.user-auth-link:active {
  color: rgb(0, 0, 0, 0.3);
}

.user-auth-link-name {
  display: flex;
  width: max-content;
  padding-right: 14px;
  gap: 23px;
  align-items: center;
}

.user-auth-link-name::before {
  width: 20px;
  height: 18px;
  background-image: url("../img/icons/icon-user.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.3;
}

.user-auth-link-name::after {
  width: 19px;
  height: 17px;
  background-image: url("../img/icons/icon-login.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.user-auth-link-name:hover::after,
.user-auth-link-name:focus::after,
.user-auth-link-name:hover::before,
.user-auth-link-name:focus::before {
  opacity: 1;
}

.user-auth-link-name:active::after,
.user-auth-link-name:active::before {
  opacity: 0.3;
}

.user-auth-link-login::before {
  content: none;
}

.user-auth-link-login {
  padding: 12px 27px 12px 19px;
  flex-direction: row-reverse;
  gap: 7px;
}

.user-actions {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--dark-blue);
  list-style: none;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.user-actions::before {
  width: 6px;
  height: 6px;
  background-color: var(--dark-dark-blue2);
  border-radius: 50%;
  content: "";
  order: 2;
}

.user-actions li:first-child {
  order: 1;
}

.user-actions li:last-child {
  order: 3;
}

.user-actions-item a {
  transition: color 0.3s ease;
}

.user-actions-item a:hover,
.user-actions-item a:focus {
  color: var(--basic-red);
}

.user-actions-item a:active {
  color: var(--basic-greylight);
}

.main-header-navigation {
  border-bottom: 5px solid #32425c;
  grid-column: 1 / -1;
}

.site-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
  list-style: none;
  background-color: var(--dark-blue);
  justify-content: center;
  flex-wrap: wrap;
}

.site-navigation a {
  display: block;
  min-width: 125px;
  padding: 16px;
  text-align: center;
  transition: all 0.3s ease;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--dark-dark-blue);
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.section-header {
  display: grid;
  padding: 26px 16px 30px 27px;
  margin-bottom: 15px;
  background-color: var(--special-beige);
  gap: 20px;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.section-header .section-title {
  margin: 3px 0 0;
}

.section-header-button {
  min-width: 192px;
  padding: 14px 24px 12px;
}


.section-title {
  margin: 0 0 23px;
  font-family: 'Cuprum', Arial, sans-serif;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-blue);
  text-transform: uppercase;
}

.section-title-description {
  margin-bottom: 25px;
  color: var(--black);
}

.main-catalog {
  position: relative;
  margin-bottom: 27px;
}

.main-catalog-list {

  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.main-catalog-item {
  position: relative;
  display: flex;
  padding: 20px 23px;
  overflow: hidden;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
}

.new::after {
  position: absolute;
  top: 7px;
  right: -26px;
  display: flex;
  width: 100px;
  height: 30px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--basic-red);

  content: "new";
  transform: rotateZ(45deg);
  align-items: center;

  justify-content: center;

}

.main-catalog-item-materials {
  background-image: url("../img/icons/icon-material.svg");
  background-position: right 43px top 31px;
}

.main-catalog-item-instrument {
  background-image: url("../img/icons/icon-instrument.svg");
  background-position: right 31px top 34px;
}

.main-catalog-item-tech {
  background-image: url("../img/icons/icon-technic.svg");
  background-position: right 31px top 31px;
}

.main-catalog-item-sale {
  background-image: url("../img/icons/icon-sale.svg");
  background-position: right 45px top 26px;
}

.main-catalog-item-delivery {
  background-image: url("../img/icons/icon-delivery.svg");
  background-position: right 31px top 32px;
}

.main-catalog-item a {
  min-width: 135px;
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-button {
  position: absolute;
  bottom: 25px;
  left: 25px;
  min-width: 192px;
}

.main-catalog-item-materials {
  background-color: var(--yellow);
}

.main-catalog-item-instrument {
  background-color: var(--special-blue);
}

.main-catalog-item-tech {
  background-color: var(--special-lilac);
}

.main-catalog-item-sale {
  background-color: var(--special-greenlight);
}

.main-catalog-item-delivery {
  background-color: var(--special-yellow);
}

.main-catalog-item a {
  padding: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease;
}

.main-catalog-item a:hover,
.main-catalog-item a:focus {
  background-color: rgba(197, 197, 197, 0.3);
}

.main-catalog-item a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.slider {
  position: relative;
  padding: 0;
  grid-column: span 2;
  grid-row: span 2;
}

.slider-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  width: 100%;
  padding: 23px;
  background-color: var(--basic-grey);
  box-sizing: border-box;
}

.slider-item img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

.slider-dots {
  position: absolute;
  bottom: 36px;
  left: 50%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%);
  gap: 10px;
}

.slider-dots-item button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  background-color: var(--basic-red);
  border: 2px solid var(--white);
  border-radius: 50%;
  box-sizing: border-box;
}

.slider-dots-active button {
  background-color: var(--white);
}

.slider-button {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 70px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  transition: opacity 0.3s ease;
}

.slider-button:hover,
.slider-button:focus {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.5;
}


.slider-button-prev {
  background-image: url("../img/slider/slider-arrow.svg");
  background-position: center 100px;
  transform: rotate(180deg);
}

.slider-button-next {
  right: 0;
  background-image: url("../img/slider/slider-arrow.svg");
  background-position: center 120px;
}

.slider-item h3 {
  position: relative;
  z-index: 1;
  margin: 0 0 5px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;
}

.slider-item p {
  position: relative;
  bottom: 0;
  z-index: 1;
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}

.popular-products {
  margin-bottom: 100px;
}

.popular-products-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.product-card {
  position: relative;
  display: flex;
  overflow: hidden;
  border: 1px solid #eaeaea;
  flex-direction: column;
  align-items: center;
}

.product-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.product-card:hover .product-card-buttons {
  display: flex;
}

.product-card-buttons {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  padding: 38px 43px;
  background-color: var(--white);
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.product-card-image {
  margin: 0 0 13px;
}

.product-card-image img {
  display: block;
  margin: 0 auto;
}

.product-card-info {
  display: flex;
  padding: 20px;
  flex-grow: 1;
  flex-direction: column;
}

.product-card h3 {
  min-height: 40px;
  margin: 0 0 7px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--black);
  text-align: center;
}

.product-card del {
  display: block;
  margin-bottom: 16px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-greylight2);
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: line-through;
}

.product-card-price {
  position: relative;
  padding: 10px 30px;
  margin: auto 0 0 24px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  align-self: flex-start;
}

.product-card-price::after {
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 100%;
  display: block;
  width: 20px;
  height: 100%;
  border-top: 19px solid transparent;
  border-right: 0;
  border-bottom: 19px solid transparent;
  border-left: 20px solid var(--basic-red);
  content: "";
}

.product-card-button-buy {
  display: flex;
  padding: 8px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);

  text-transform: uppercase;
  cursor: pointer;
  background: var(--basic-green);
  border: 2px solid var(--basic-green);
  border-bottom-color: var(--basic-darkgreen-2);
  border-radius: 2px;
  transition: background-color 0.3s ease, border 0.3s ease;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.product-card-button-buy:hover,
.product-card-button-buy:focus {
  background-color: var(--success);
  border: 2px solid var(--success);
  border-bottom-color: var(--basic-darkgreen-2);
}

.product-card-button-buy:active {
  background-color: var(--basic-darkgreen);
  border: 2px solid var(--basic-darkgreen);
  border-bottom-color: var(--basic-darkgreen-2);
}

.product-card-button-buy::before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.3;
}

.product-card-button-favorite {
  padding: 8px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--dark-blue);
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--white);
  border: 2px solid var(--basic-green);
  border-radius: 2px;
  transition: border-color 0.3s ease, opacity 0.3s ease;
}

.product-card-button-favorite:hover,
.product-card-button-favorite:focus {

  border-color: var(--dark-blue);
}

.product-card-button-favorite:active {
  opacity: 0.5;
}

.popular-manufactures {
  margin-bottom: 90px;
}

.popular-manufactures-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.popular-manufactures-item {
  border: 1px solid #eaeaea;
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
}

.popular-manufactures-item:hover,
.popular-manufactures-item:focus {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufactures-item:active {
  opacity: 0.5;
}

.services {
  padding-top: 44px;
  margin-bottom: 50px;
  background-color: var(--basic-background);
}

.services-wrapper {
  display: grid;
  column-gap: 80px;
  grid-template-columns: 240px 1fr;
}

.services-wrapper .section-title {
  grid-column: 1 / -1;
}

.services-wrapper p {
  width: 394px;
  margin: 0 0 67px;
  grid-column: 1 / -1;
}

.services-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-list-tabs {
  position: relative;
  padding: 0 0 120px;
  margin: 0;
  list-style: none;
}

.services-list-tabs::after {
  position: absolute;
  top: -49px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/services/shadow.png");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.services-list-tab button {
  width: 100%;
  padding: 14px 22px 17px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-align: left;
  background-color: var(--dark-blue);
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid var(--dark-dark-blue);

  transition: all 0.3s ease;
}

.services-list-tab button:hover,
.services-list-tab button:focus {
  opacity: 0.8;
}

.services-list-tab button:active {
  opacity: 0.5;
}

.services-list-tab-active button {
  color: var(--dark-blue);
  background-color: var(--white);
}

.service-list-item {
  background-repeat: no-repeat;
  flex-grow: 1;
}

.service-list-item.hidden {
  display: none;
}

.service-list-item-credit {
  background-image: url("../img/services/credit-bg.png");
  background-position: right top;
}

.service-list-item-guarantee {
  background-image: url("../img/services/guarantee-bg.png");
  background-position: right top;
}

.service-list-item-delivery {
  background-image: url("../img/services/delivery-bg.png");
  background-position: right top 22px;
}


.service-list-item h3 {
  margin: 0 0 30px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-blue);
  text-transform: uppercase;
}

.service-list-item p {
  width: 309px;
  margin: 0 0 26px;
}

.service-list-button {
  width: 195px;
}

.about-contacts-wrapper {
  display: grid;
  margin-bottom: 66px;
  grid-template-columns: 1fr 300px;
  column-gap: 180px;
}

.about {
}

.about h2 {
  margin-bottom: 21px;
}

.about p {
  margin: 0 0 27px;
}


.about p:last-of-type {
  margin: 0 0 4px;
}


.about .button {
  width: 220px;
}

.transportation-list {
  padding: 0;
  margin: 0 0 20px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}

.transportation-item {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}

.transportation-item::before {
  width: 25px;
  height: 2px;
  margin-right: 12px;
  background-color: var(--basic-red);
  content: "";
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;

}

.contacts-map-wrapper {
  position: relative;
  margin-bottom: auto;
}

.contacts-open-map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.contacts p {
  margin: 0 0 32px;
}

.contacts iframe {
  display: block;
}

.main-footer {
  font-family: 'Cuprum', Arial, sans-serif;
  color: var(--white);
  background-color: var(--dark-blue);
}

.main-footer-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.main-footer-logo {
  padding: 22px 40px 20px;
  grid-column: 1 / 4;
}

.main-footer-logo img {
  width: 138px;
  height: 23px;
}


.main-footer-nav {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  grid-column: 4 / -1;
  justify-self: end;
  align-self: end;
  gap: 58px;
}

.main-footer-nav-link {
  transition: opacity 0.3s ease;
}

.main-footer-nav-link:hover,
.main-footer-nav-link:focus {
  text-decoration: underline;
}

.main-footer-nav-link:active {
  opacity: 0.5;
}


.main-footer address {
  padding-left: 3px;
  margin-top: 10px;
  margin-bottom: 54px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  grid-column: 1 / 6;
}

.main-footer-catalog-nav {
  display: flex;
  padding: 0;
  margin: 14px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--special-yellowlight);
  list-style: none;
  grid-column: 7 / -1;
  justify-self: end;
  gap: 58px;
}

.main-footer-catalog-link {

  transition: opacity 0.3s ease;
}

.main-footer-catalog-link:hover,
.main-footer-catalog-link:focus {
  text-decoration: underline;
}

.main-footer-catalog-link:active {
  opacity: 0.5;
}


.footer-footer {
  padding-top: 17px;
  font-size: 16px;
  background-color: var(--dark-dark-blue);
}

.main-footer-copyright {
  line-height: 21px;
  grid-column: 1 / 5;
}

.main-footer-info {
  display: flex;
  line-height: 21px;
  grid-column: 9 / -1;
}

.main-footer-info p:not(:last-child) {
  margin-right: 51px;
}

.main-footer-link {
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--special-yellowlight);
  transition: color 0.3s ease;
}

.main-footer-link:hover,
.main-footer-link:focus {
  text-decoration: underline;
}

.main-footer-link:active {
  color: var(--basic-red);
}


.social {
  display: flex;
  padding: 0 33px 0 0;
  margin: 0;
  list-style: none;
  grid-column: 5 / 9;
  justify-self: center;
  align-self: center;
  gap: 4px;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  background-color: var(--dark-dark-blue2);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--basic-red);
}

.social-link-vk {
  background-image: url("../img/icons/icon-vk.svg");
}

.social-link-fb {
  background-image: url("../img/icons/icon-fb.svg");
}

.social-link-instagram {
  background-image: url("../img/icons/icon-insta.svg");
}

.modal {
  position: fixed;
  top: 120px;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 100;
  display: none;
  margin: auto;
  font-family: 'Cuprum', Arial, sans-serif;
  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-button-container {
  display: flex;
  padding: 37px 80px;
  background-color: #f4f4f4;
  justify-content: space-between;
  gap: 20px;
}

.modal-button-container button {
  width: 50%;
  flex-grow: 1;
}

.modal-button-submit {
  width: 100%;
}

.modal-letter {
  width: 620px;
}

.modal-map {
  width: 943px;
  height: 456px;
}

.modal-map iframe {
  border: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.letter-form {
  display: grid;
  padding: 45px 80px 37px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 20px;
}

.letter-form-item {
  margin: 0;
}

.letter-form-item label {
  display: block;
  margin-bottom: 11px;
}


.letter-form input,
.letter-form textarea {
  display: block;
  width: 100%;
  padding: 5px 10px 4px;
  font-size: 13px;
  line-height: 24px;
}

.letter-form textarea {
  min-height: 114px;
  resize: none;
}

.letter-form-text {
  margin-top: 13px;
  grid-column: 1 / -1;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icons/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: opacity 0.3s ease;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 0.8;
}

.modal-close:active {
  opacity: 0.5;
}


.modal label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.modal input,
.modal textarea {
  background: var(--white);
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  box-sizing: border-box;
}

.modal input::placeholder,
.modal textarea::placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-greylight2);
}

.catalog-content {
  display: grid;
  margin-bottom: 60px;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 20px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  list-style: none;
  gap: 16px;
  grid-column: 1 / -1;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-link-home {
  width: 14px;
  height: 12px;
  background-image: url("../img/icons/icon-home.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.breadcrumbs-item::after {
  width: 8px;
  height: 12px;
  margin-left: 17px;
  background-image: url("../img/icons/icon-right-small.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-header {
  padding: 30px;
  background-color: var(--basic-background);
  grid-column: 1 / -1;
}

.catalog-title {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-blue);
  text-transform: uppercase;
}

.filter {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;

  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: var(--black);
  text-transform: uppercase;
  align-self: flex-start;
  grid-row: 3 / -1;
}

.filter h3 {
  padding: 8px 20px 10px 18px;
  margin: 0 0 14px;
  font-size: 13px;
  line-height: 18px;
  background: var(--special-beige2);
}

.form-fieldset {
  padding: 0 0 25px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-fieldset:last-of-type {
  border-bottom: none;
}

.form-legend {
  margin: 0 0 11px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.form-fieldset:last-of-type {
  margin-bottom: 8px;
}

.form-fieldset:last-of-type .form-legend {
  margin-bottom: 23px;
}

.form-input-group {
  margin-bottom: 16px;
}

.form-input-group:last-of-type {
  margin-bottom: 0;
}

.form-checkbox + label,
.form-radio + label {
  position: relative;
  display: flex;
  align-items: center;
}

.form-checkbox + label::before {
  width: 23px;
  height: 23px;
  margin-right: 12px;
  border: 2px solid #c5c5c5;
  border-radius: 4px;
  content: "";
}

.form-checkbox:checked + label::before {
  width: 27px;
  margin-right: 8px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-position: left center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
}

.form-radio + label::before {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
  content: "";
}

.form-radio:checked + label::after {
  position: absolute;
  left: 8px;
  width: 9px;
  height: 9px;
  margin-right: 10px;
  background-color: #c5c5c5;
  border-radius: 50%;
  content: "";
}

.form button {
  width: 100%;
  padding: 10px 30px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--basic-greylight3);
  border-radius: 2px;
  transition: border-color 0.3s ease;
}

.form button:hover,
.form button:focus {
  border-color: var(--basic-greylight);
}

.form button:active {
  border-color: var(--basic-red);
}

.price-range-controls {
  padding: 40px 40px 40px 20px;
  margin-bottom: 9px;
  background-color: var(--special-beige2);
  --price-range-min: 0%;
  --price-range-max: 80%;
}

.bar {
  position: relative;
  width: 100%;
}

.bar-amount {
  position: relative;
  left: var(--price-range-min);
  width: min(calc(var(--price-range-max) - var(--price-range-min)), 100%);

  height: 2px;
  background-color: var(--basic-green);
}

.handle {
  position: absolute;
  display: grid;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 0 rgba(171, 171, 171, 0.3);
  place-items: center;
}

.handle::before {
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
  content: "";
}

.handle-max {
  left: 100%
}

.price-range-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-range-inputs::before {
  content: "–";
  order: 1;
}

.price-range-inputs input {
  width: 95px;
  font-size: 17px;

  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  background-color: var(--special-beige2);

  border: none;
}

.price-range-inputs input:last-child {
  order: 2;
}


.sort {
  display: flex;
  padding: 8px 20px 10px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background: var(--special-beige2);
  grid-column: 2 / -1;
  align-items: center;
}

.sort h3 {
  margin: 0 auto 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.sort-list {
  display: flex;
  padding: 0;
  margin: 0 43px 0 0;
  list-style: none;
}

.sort-item + .sort-item {
  margin-left: 67px;
}

.sort-link {
  position: relative;
  color: rgb(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
  transition: opacity 0.3s ease, color 0.3s ease;
}

.sort-link:hover,
.sort-link:focus {
  color: rgb(0, 0, 0, 1);
  border-bottom: 1px solid var(--basic-red);
}

.sort-link:active, .sort-link-active {
  color: var(--basic-red);
  border-bottom: none;
}

.sort-order {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.sort-order-item {
  display: grid;
  width: 11px;
  height: 10px;
  place-items: center;

}

.sort-order-item + .sort-order-item {
  margin-left: 21px;
}

.sort-order-link {
  display: block;
  width: 0;
  height: 0;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--basic-greylight4);
  border-left: 5.5px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.sort-order-link:hover,
.sort-order-link:focus {
  border-bottom-color: var(--black);
}

.sort-order-link:active {
  border-bottom-color: var(--basic-red);
}

.sort-order-link-active {
  border-bottom-color: var(--basic-red);
}

.sort-order-link-desc {
  transform: rotateX(180deg);
}

.catalog {
  grid-column: 2 / -1;
}

.catalog-list {
  display: grid;
  padding: 7px 0 36px;
  margin: 0;
  list-style: none;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}


.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column: 2 / -1;
}

.pagination-item:not(:last-of-type) {
  margin-right: 10px;
}

.pagination-link {
  padding: 10px 15px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--basic-greylight3);
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.pagination-link:hover,
.pagination-link:focus {
  border-color: var(--basic-greylight);
}

.pagination-link:active {
  border-color: var(--basic-red);
}

.pagination-link-active {
  color: var(--white);
  background-color: var(--basic-red);
  border-color: var(--basic-red);
}

.description {
  padding: 73px 0 63px;
  background: var(--basic-background);
}

.description p {
  margin: 0 0 1px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;


}

.modal-basket {
  width: 620px;
  padding-top: 73px;
}

.modal-basket .modal-button-container {
  padding-right: 114px;
  padding-left: 114px;
}

.modal-basket-text {
  position: relative;
  width: 420px;
  margin: 0 auto 68px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
  text-align: center;
}

.modal-basket-text::before {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icons/icon-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
